--- arch/arm/mach-msm/Kconfig
+++ arch/arm/mach-msm/Kconfig
@@ -2104,8 +2104,10 @@
 
 choice
     prompt "SWIQI"
-    optional
-    default n
+    default SWIQI_NONE
+    config SWIQI_NONE
+    	bool "Disable SWIQI/2"
+
     config SEMC_SWIQI
         bool "Enable SWIQI"
         default n
